<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.ecomm.tests.LoginTest"/>
      <class name="org.ecomm.tests.ProductsearchTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
